html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.splash {
    height: 400px;
    width: 100%;
    position: fixed;
    background-color: #1d1d1d;
    background-image: url('http://k46.kn3.net/taringa/0/F/D/9/C/6/Feedde_/FC3.png');
    background-size: cover;
    top: 0;
}

.footer {
    height: 300px;
    width: 100%;
    background: #111111 center center no-repeat;
    position: relative;
}

.main {
    margin-top: 400px;
    position: relative;
}

.content {
    background: #f1f1f1;
    margin: 0 auto;
    padding: 10px 0;
}

.cell {
    display: inline-block;
    position: relative;
}

.post {
    height: 200px;
    margin: 10px;
    position: relative;
    border-radius: 4px;
    background: #ccc;
}

.post.medium {
    height: 300px;
}

.post.tall {
    height: 400px;
}

.front {
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
            box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
}

.cell-75 {
    width: 75%;
}

.cell-25 {
    width: 25%;
}

.cell-50 {
    width: 50%;
}

.cell-33 {
    width: 33.33333%;
}

.black {
    background: #111111;
}

.grey {
    background: #ececec;
}

.red {
    background: rgb(214, 12, 67);
}

.blue {
    background: #0b5d8f;
}

.yellow {
    background: #fdd95e;
}

.green {
    background: #18a84d;
}

.top {
    vertical-align: top;
}

.max-800 {
    max-width: 800px;
    margin: auto;
}

.post-row {
    font-size: 0;
    padding: 20px 0;
}

.max-800.with-color {
    padding: 20px;
    max-width: 740px;
}

.post-row.margin-40 {
    margin: 40px;
}
.post-row.margin-20 {
    margin: 20px;
}
.post-row.margin-20-0 {
    margin: 20px 0;
}

.post-row.padding-40 {
    padding: 40px;
}
.post-row.padding-20 {
    padding: 20px;
}
.post-row.padding-20-0 {
    padding: 20px 0;
}

@media all and (max-width: 768px) {
    .cell {
        width: 50%;
    }
    .cell-50 {
        width: 100%;
    }
}


.draggable:hover {
    cursor: move;
    cursor: -webkit-grab;
    cursor:         grab;
}

.draggable:active {
    cursor: -webkit-grabbing;
    cursor:         grabbing;
}

.is-dragging {
    background: #df7a80;
}

.is-active {
    z-index: 100;
}

#drag-area {
    padding: 10px;
}

#drag-area div {
    margin: 10px;
}

.is-dropped {
    opacity: 0;
    -webkit-transform: scale3d(.7,.7,1) !important;
            transform: scale3d(.7,.7,1) !important;
}

.is-complete {
    opacity: 1;
    -webkit-transition: opacity .3s, -webkit-transform .3s !important;
            transition: opacity .3s, transform .3s !important;
    -webkit-transform: scale3d(1,1,1) !important;
            transform: scale3d(1,1,1) !important;
}

.animate {
    -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
}
