.solar-system {
    width: 300px;
    height: 300px;
}

.solar-system .planet {
    position: absolute;
}

.trail {
    width: 6px;
    height: 6px;
    background: rgba(255,255,255, 0.8);
    display: block;
    position: absolute;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}

.small {
    width: 20px;
    height: 20px;
}

.normal {
    width: 25px;
    height: 25px;
}

.big {
    width: 80px;
    height: 80px;
}

.static {
    position: static !important;
}

.planet {
    position: relative;
    border: 2px solid white;
}

.centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.profile-picture {
    background-size: cover;
    border: 4px solid white;
}

.round {
    border-radius: 100%;
}