html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.c-splash {
    height: 500px;
    width: 100%;
    position: fixed;
    background: black;
    top: 0;
}

.c-splash iframe {
    position: absolute;
    top: -25%;
    bottom: 0;
    left: -50%;
    right: 0;
    width: 200%;
    height: 1000px;
}

.c-splash:after {
    content: '\f0ac';
    font-family: 'fontAwesome';
    color: rgba(255, 255, 255, .2);
    display: block;
    position: absolute;
    line-height: 500px;
    font-size: 288px;
    width: 100%;
    height: 100%;
    cursor: default;
    text-align: center;
}

.c-footer {
    height: 300px;
    width: 100%;
    background: #111111 center center no-repeat;
    position: relative;
}

.c-content {
    background: #f1f1f1;
    margin: 0 auto;
    padding: 10px 10px;
}

.cell {
    display: inline-block;
    position: relative;
}

.cell:before {
    content: '\f0ac';
    font-family: 'fontAwesome';
    color: rgba(0, 0, 0, .1);
    display: block;
    font-size: 64px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 55px;
    height: 64px;
}

.post {
    height: 200px;
    margin: 10px;
    position: relative;
    border-radius: 4px;
}

.post.medium {
    height: 300px;
}

.post.tall {
    height: 400px;
}

.front {
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
            box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
}

.cell-75 {
    width: 75%;
}

.cell-25 {
    width: 25%;
}

.cell-50 {
    width: 50%;
}

.cell-33 {
    width: 33.33333%;
}

.black {
    background: #111111;
}

.grey {
    background: #ececec;
}

.red {
    background: rgb(214, 12, 67);
}

.blue {
    background: #0b5d8f;
}

.yellow {
    background: #fdd95e;
}

.green {
    background: #18a84d;
}

.orange {
    background: #FFC02D;
}

.top {
    vertical-align: top;
}

.max-800 {
    max-width: 800px;
    margin: auto;
}

.max-600 {
    max-width: 600px;
    margin: auto;
}

.post-row {
    padding: 20px 0;
}

.max-800.with-color {
    padding: 20px;
    max-width: 740px;
}

.post-row.margin-40 {
    margin: 40px;
}
.post-row.margin-20 {
    margin: 20px;
}
.post-row.margin-20-0 {
    margin: 20px 0;
}

.post-row.padding-40 {
    padding: 40px;
}
.post-row.padding-20 {
    padding: 20px;
}
.post-row.padding-20-0 {
    padding: 20px 0;
}

.navbar {
    background-color: #CBD6FF;
    padding: 10px;
}

@media all and (max-width: 768px) {
    .cell {
        width: 50%;
    }
    .cell-50 {
        width: 100%;
    }
}
